<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Formulario de Ingreso</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <div id="wrapper">


    <div id="content-wrapper">

      <div class="container-fluid">
			<h1 class="mt-4">Formulario Estudiantil</h1>
			<div class="card mb-4">
            	<div class="card-body">
            		<p class="mb-0">Ingrese sus credenciales:</p><br/>
            		<form method="post" th:action="@{/resultado}">
	            		<div class="form-group"><label class="small mb-1" for="nombre">Nombre:</label><input class="form-control py-4" id="nombre" type="text" placeholder="Ingrese Nombre" style="width: 400px" name="nombre" /></div>
	            		<div class="form-group"><label class="small mb-1" for="apellido">Apellido:</label><input class="form-control py-4" id="apellido" type="text" placeholder="Ingrese Apellido" style="width: 400px" name="apellido" /></div>
	            		<div class="form-group"><label class="small mb-1" for="fecha">Fecha de Nacimiento:</label><input class="form-control py-4" id="fecha" type="date" placeholder="Ingrese su Fecha de Nacimiento" style="width: 400px" name="fecha" required /></div>
	            		<div class="form-group"><label class="small mb-1" for="lugar">Lugar de Nacimiento:</label><input class="form-control py-4" id="lugar" type="text" placeholder="Ingrese su Lugar de Nacimiento" style="width: 400px" name="lugar" /></div>
	            		<div class="form-group"><label class="small mb-1" for="instituto">Instituto o Lugar de Estudio:</label><input class="form-control py-4" id="instituto" type="text" placeholder="Ingrese su instituto de estudio" style="width: 400px" name="instituto" /></div>
	            		<div class="form-group"><label class="small mb-1" for="fijo">Telefono Fijo:</label><input class="form-control py-4" id="fijo" type="number" placeholder="Ingrese su Telefono fijo" style="width: 400px" name="fijo" /></div>
	            		<div class="form-group"><label class="small mb-1" for="movil">Telefono Movil:</label><input class="form-control py-4" id="movil" type="number" placeholder="Ingrese su Telefono movil" style="width: 400px" name="movil" /></div>
	                    <div class="form-group"><input type="submit" class="btn btn-primary" value="Iniciar Sesi&oacute;n"></a></div>
	                </form>
            	</div>
            </div>
            
            
            
      </div>
    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->



  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>

</body>

</html>